.popup-tip {
    display: inline-block;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 8888;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0,0,0,.6);
}

.popup-tip .title {
    position: fixed;
    top: 50%;
    left: 15%;
    background-color: #fff;
    min-height: 60px;
    width: 70%;
    border-radius: 10px;
    padding: 25px 20px;
    line-height: 1.5em;
    margin-top:-55px;
}

.popup-tip.top {
    top: 25%
}

.popup-tip.bottom {
    top: 75%
}

.popup-box {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, .6)
}

.popup-box .box {
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px 0 #333;
    -moz-box-shadow: 0 0 10px 0 #333;
    box-shadow: 0 0 10px 0 #333
}

.popup-box .box .content {
    padding: 10px
}

.popup-box .box .content .title {
    width: 100%;
    font-size: 16px;
    color: #000;
}

.popup-box .box .content .msg {
    width: 100%;
    font-size: 16px;
    color: #666;
    line-height: 1.5em;
    text-align:center;
    margin:20px 0;
}

.popup-box .box .btn {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    border-top: 1px solid #e5e5e5;
    overflow: hidden;
}

.popup-box .box .btn .popup-btn:active {
    background-color: #eee
}

.popup-box .box .btn a {
    float: left;
    height: 40px;
    line-height: 40px;	
    color: #666;
    border-right: 1px solid #e5e5e5;
}

.popup-box .box .btn a:last-child {
    border-right: 0;
    color: #000
}
